<!DOCTYPE html>
<html>
<head>
  <title>TeamDashboard</title>
  <%= stylesheet_link_tag    "team_dashboard/application", :media => "all" %>
  <%= javascript_include_tag "team_dashboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
